.about {

  background:  linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)),
    url(../assets/by-annie-spratt.jpg);

  background-repeat: no-repeat;
  background-size: auto 100%;

  background-position: top right;
  position: relative;
  .wrapper {
    position: relative;
    // border: 2px solid red;
  }

  img {

    width: 50%;
  }
  &__skew {
    position: absolute;
    top: 0;

    //Will this cause the phone display to go nuts?
    // Maybe change it for mobile.
    left: -100%;
    bottom: 0;
    z-index: 10;
    transform: skewX(-28deg);
    background-color: $white;
    width: 155%;



  }
  &__content {
    // border: 1px solid blue;
      // transform: skewX(28deg);
      position: relative;
      z-index: 20;
      padding: 10% 0 20% 0;
      p {
        width: 50%;
      }
  }

  @media (max-width: 1200px) {
    &__skew {
      width: 160%;
    }

    &__content {
      padding: 5% 0 20% 0;
    }
  }
  @media (max-width: 860px) {
    background-image: none;
    background-color: $neutralMedium;

    h2 {
     margin-bottom: 65px;
    }

    &__skew {
      width: 160%;

    }

    &__content {
      p {
        width: 100%;
      }
    }
  }
  @media (max-width: 600px) {
    &__skew {
      width: 140%;
    }
  }
  @media (max-width: 450px) {
    &__skew {
      width: 120%;
    }
  }

}