// GLOBAL TYPOGRAPHY STYLES
//Order Of Typography Mixin Arguments:
//font-size, colour, font-weight, line-height, text-align, text-transform: uppercase


html {
  font-size: 62.5%;
}

body {
  font-family: $bodyFont;
  color: $black;
}


a, h1, h2, h3, h4, h5, h6, button   {
  font-family: $headerFont;
  color: $black;
}


h2 {
  @include type (3.6, $black, 700, 1.5, left, true);
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 { //Section Main Sub Headings
  @include type (3.2, $black, 600, 1.5, left, true);
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: $white;
}

p {
  @include type (2.2, $black, 300, 1.54, left, false);
  letter-spacing: 0.06rem;
}

img {
  width: 100%;
}

.wrapper {
  width: 65%;
  max-width: 1170px;
  margin: auto;
  @media (max-width: 1400px) {
    width: 75%;
  }
  @media (max-width: 1100px) {
    width: 90%;
  }
}

.wrapper-right {
  width: 85%;
  float: right;
}

.wrapper-left {
  width: 85%;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button1 { //yellow
  display: inline-block;
  @include type (1.7, $black, 700, 1, center, true);
  background-color:  $accent1;
  box-shadow: 0px 12px 40px 0px rgba(231, 255, 137, 0.4);
  padding: 15px 30px;
  border-radius: 100px;
  svg {
    margin-left: 15px;
  }

}

.button2 {
  @extend .button1;
  box-shadow: 0px 12px 40px 0px rgba(72, 196, 212, 0.3);
  background-color: $accent2;
  color: $white;
}


.accent-line { //This is attached to the H2 tag

  margin-bottom: 80px;

  &::after {
    content: '';
    display: block;
    width: 100px;
    border-bottom:  2px solid $accent2;

    position: absolute;
    bottom: -29px;
    left: 0;

  }
}