// GLOBAL TYPOGRAPHY STYLES
//Order Of Typography Mixin Arguments:
//font-size, colour, font-weight, line-height, text-align, text-transform: uppercase


html {
  font-size: 62.5%;
}

body {
  font-family: $bodyFont;
  color: $black;
}


a, h1, h2, h3, h4, h5, h6, button   {
  font-family: $headerFont;
  color: $black;
}


h2 {
  @include type (3.6, $black, 700, 1.5, left, true);
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 600px) {
    font-size: 3rem;
  }
}

h3 { //Section Main Sub Headings
  @include type (3.2, $black, 600, 1.5, left, true);
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: $white;
}

p {
  @include type (2.2, $black, 300, 1.54, left, false);
  letter-spacing: 0.06rem;
}

img {
  width: 100%;
}

.wrapper {
  width: 65%;
  max-width: 1170px;
  margin: auto;
  @media (max-width: 1400px) {
    width: 75%;
  }
  @media (max-width: 1100px) {
    width: 90%;
  }
}

.wrapper-right {
  width: 85%;
  margin-left: auto;
}

.wrapper-left {
  width: 85%;

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button1 { //yellow
  display: inline-block;
  @include type (1.7, $black, 700, 1, center, true);
  background-color:  $accent1;
  box-shadow: 0px 12px 40px 0px rgba(231, 255, 137, 0.4), 1px 1px 0px #131605;
  padding: 15px 30px;
  border-radius: 100px;
  transition:
    background-color 0.2s ease-in,
    box-shadow 0.2s cubic-bezier(0.42, 0, 0.73, 1.15),
    transform 0.2s cubic-bezier(0.42, 0, 0.73, 1.15);
  svg {
    margin-left: 15px;
  }
   &:hover {
    transform: translate(-5px, -5px);
    box-shadow:
      0px 12px 40px 0px rgba(231, 255, 137, 0.4),
      1px 1px 0px #131605,
      2px 2px 0px #131605,
      3px 3px 0px #131605,
      4px 4px 0px #131605,
      5px 5px 0px #131605,
      ;
  }
  &:active {
    background: #c4e931;
    box-shadow:
      0px 12px 40px 0px rgba(231, 255, 137, 0.4),
      1px 1px 0px rgb(231, 255, 137);
      transform: translate(-1px, -1px);

  }

}

.button2 {
  @extend .button1;
  box-shadow: 0px 12px 40px 0px rgba(72, 196, 212, 0.3), 1px 1px 0px #131605;
  background-color: $accent2;
  color: $white;
  &:hover {
    box-shadow:
      0px 12px 40px 0px rgba(72, 196, 212, 0.3),
      1px 1px 0px #131605,
      2px 2px 0px #131605,
      3px 3px 0px #131605,
      4px 4px 0px #131605,
      5px 5px 0px #131605,
      ;
  }
  &:active {
    background: #318a96;
    box-shadow: 0px 12px 40px 0px rgba(72, 196, 212, 0.3), 1px 1px 0px #131605;
  }
}

.arrow-to-top {
  display: none;
  position: fixed;
  opacity: 0.8;
  z-index: 100;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: $white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out;
  &:hover {
    transform: translateX(-50%) scale(1.4);
  }
  .fa-arrow-circle-up {
    color: $neutral;
    font-size: 55px;
    margin: -1px;
  }
  &.display {
    //Display arrow only when mobile nav is not displayed
    @media (min-width: 650px) {
      display: block;
    }
  }
}


.accent-line { //This is attached to the H2 tag

  margin-bottom: 80px;

  &::after {
    content: '';
    display: block;
    width: 100px;
    border-bottom:  2px solid $accent2;

    position: absolute;
    bottom: -29px;
    left: 0;

  }
}