
//Modifeid from this article: https://engageinteractive.co.uk/blog/top-10-scss-mixins
 @mixin type(
    $size: false,
    $colour: false,
    $weight: false,
    $lh: false,
    $align:false,
    $upper:false) {
  @if $size { font-size: $size*1rem ; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
  @if $align { text-align: $align}
  @if $upper { text-transform: uppercase; }
}


