
//Grey background of the header and various other sections
//Used in some places for grey text
$neutral:  #54555d;


$light: #f0f1f3; //Very light grey used in background


//White text
$white: #FFF;
//BLACK
$black: #20232f;

//Used in yellow button in header and slanted line
 //Used in Our Services
$accent1:  #e7ff89;

 //Used in blue buttons
//Blue text in header
//Blue accent line under main section headings
$accent2: #48c4d4;


// FONTS
$headerFont: 'Montserrat', sans-serif;

$bodyFont: 'Source Sans Pro', sans-serif;


//BREAKPOINTS
$mobile:"max-width:550px";
$tablet:"max-width:880px";
$laptop:"max-width:1350px";